.meme__text {
  position: absolute;
  font-size: clamp(2rem, 6vw, 4rem);
  /* font-size: clamp(1rem, -0.875rem + 8vw, 3.5rem); */
  font-weight: 700;
  color: white;
  text-shadow: black 0 0 10px;
  text-shadow: -3.2px -3.2px 0 #000, 3.2px -3.2px 0 #000, -3.2px 3.2px 0 #000,
    3.2px 3.2px 0 #000;
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  max-width: 80%;
  text-align: center;
  line-height: 1;
  cursor: grab;
}

.meme__text:active {
  cursor: grabbing;
  scale: 1.04;
  opacity: 0.8;
}

.text__top {
  top: 3rem;
}

.text__bottom {
  bottom: 3rem;
}
